body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/*to add a navigation shadow*/
header {
    background: #222;
    color: white;
    padding: 10px;
    text-shadow: 1px 1px 3px gray;
    display: flex;
    flex-direction: column; /* logo above title */
    align-items: center;
    
}

.logo img {
    width: 80px;
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

section {
    padding: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*the design for the columns*/

.columns {
    column-count: 2;
    column-gap: 20px;
    column-rule: 1px dotted gray;
}

.columns p::first-letter {
    font-size: 180%;
    color: #444;
}

video, audio {
    width: 100%;
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

.error {
    color: red;
    font-size: 12px;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 10px;
}
